@page
@model DocumentGenerator.Models.FormModel
@{}

<h1>Step4</h1>

@using (Html.BeginForm("Review", "Form", FormMethod.Post))
{
    <div class="form-group">
        <div>
            @Html.HiddenFor(x => x.Name, "Value")

            @Html.HiddenFor(x => x.Step1Model.Field1, "Value")
            @Html.HiddenFor(x => x.Step1Model.Field2, "Value")

            @Html.HiddenFor(x => x.Step2Model.Field1, "Value")
            @Html.HiddenFor(x => x.Step2Model.Field2, "Value")

            @Html.HiddenFor(x => x.Step3Model.Field1, "Value")
            @Html.HiddenFor(x => x.Step3Model.Field2, "Value")
        </div>
        <div>
            @Html.LabelFor(m => m.Step4Model.Field1)
        </div>

        <div>
            @Html.TextBoxFor(model => model.Step4Model.Field1, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.Step4Model.Field2)
        </div>

        <div>
            @Html.TextBoxFor(model => model.Step4Model.Field2, new { @class = "form-control" })
        </div>
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>

}