@page
@model DocumentGenerator.Service.Models.Step7.Step7Model
@{}

<form asp-controller="Step7" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="card" style="margin: .5rem;">
            <div class="card-body">
                <h5 class="card-title">Mat Storage Systems</h5>

                <div class="row">
                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageSystems.TypeOfSystem, "Type of System")
                        @Html.DropDownList("MatStorageSystems.TypeOfSystem", (IEnumerable<SelectListItem>)ViewBag.TypeOfSystemOptions, new { @class = "form-control" })
                    </div>

                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageSystems.Size, "Size")
                        @Html.DropDownList("MatStorageSystems.Size", (IEnumerable<SelectListItem>)ViewBag.SizeOptions, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageSystems.TravelDirection, "Travel Direction")
                        @Html.DropDownList("MatStorageSystems.TravelDirection", (IEnumerable<SelectListItem>)ViewBag.TravelDirectionOptions, new { @class = "form-control" })
                    </div>

                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageSystems.Quantity, "Quantity")
                        @Html.TextBoxFor(model => model.MatStorageSystems.Quantity, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageSystems.Attachment, "Attachment")
                        @Html.DropDownList("MatStorageSystems.Attachment", (IEnumerable<SelectListItem>)ViewBag.AttachmentOptions, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="margin: .75rem;">
                        @Html.CheckBoxFor(model => model.MatStorageSystems.SameTypeAndAttachment, new { @class = "form-check-input" })
                        @Html.LabelFor(m => m.MatStorageSystems.SameTypeAndAttachment, "Same Type and Attachment")
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageSystems.TrussHeightFt, "Truss Height Feet")
                        @Html.TextBoxFor(model => model.MatStorageSystems.TrussHeightFt, new { @class = "form-control" })
                    </div>

                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageSystems.TrussHeightIn, "Truss Height Inches")
                        @Html.TextBoxFor(model => model.MatStorageSystems.TrussHeightIn, new { @class = "form-control" })
                    </div>

                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageSystems.TrussSpacingFt, "Truss Spacing Feet")
                        @Html.TextBoxFor(model => model.MatStorageSystems.TrussSpacingFt, new { @class = "form-control" })
                    </div>

                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageSystems.TrussSpacingIn, "Truss Spacing Inches")
                        @Html.TextBoxFor(model => model.MatStorageSystems.TrussSpacingIn, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="margin: .5rem;">
            <div class="card-body">
                <h5 class="card-title">Mat Storage Accessories</h5>

                <div class="row">
                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageAccessories.LoadBars, "Load Bars")
                        @Html.DropDownList("MatStorageAccessories.LoadBars", (IEnumerable<SelectListItem>)ViewBag.LoadBarsOptions, new { @class = "form-control" })
                    </div>

                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageAccessories.MatStorageSafetySystem, "Mat Storage Safety System")
                        @Html.DropDownList("MatStorageAccessories.MatStorageSafetySystem", (IEnumerable<SelectListItem>)ViewBag.MatStorageSaftySystemOptions, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageAccessories.Voltage, "Voltage")
                        @Html.DropDownList("MatStorageAccessories.Voltage", (IEnumerable<SelectListItem>)ViewBag.VoltageOptions, new { @class = "form-control" })
                    </div>

                    <div class="col">
                        @Html.LabelFor(m => m.MatStorageAccessories.Phase, "Phase")
                        @Html.DropDownList("MatStorageAccessories.Phase", (IEnumerable<SelectListItem>)ViewBag.PhaseOptions, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 d-flex align-items-end float-end">
        <input type="button" value="Back" onclick="location.href='@Url.Action("Index", "Step6")'" class="rounded-pill btn btn-lg" />
        <input type="submit" value="Next" class="rounded-pill btn btn-lg primary-background-color" />
    </div>

</form>
