@model DocumentGenerator.Service.Models.Step3.CurtainModel
@{
}

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.DividerCurtain.CurtainStructure)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.DividerCurtain.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.DividerCurtain.Attachment)
    </td>
    <td>
        <a href="@Url.Action("Edit", "Step3")" class="rounded-pill btn btn-lg primary-background-color">
            <i class="bi bi-pencil-fill"></i>
        </a>

        <a href="@Url.Action("Delete", "Step3")" class="rounded-pill btn btn-lg primary-background-color">
            <i class="bi bi-trash3-fill"></i>
        </a>
    </td>

</tr>
